body {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	font-family: "PTSans", sans-serif;
	text-transform: uppercase;
	color: black;
	background: #f9f6f3;
}



h1,h2 {
	font-size: 30px;
	line-height: 42px;
	color: black;
	font-weight: bold;
	font-family: "PTSans", sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: black;
	font-weight: bold;
	font-family: "PTSans", sans-serif;
	text-transform: uppercase;
}